<div class="ddnote-container">
  <div class="ddnote-navbar">
	  <div class="ddnote-navbar-header-logo">
		  <a href="index.html" class="ddnote-navbar-brand">
			  <i class="iconfont">&#xe600;</i>DDNOTE
		  </a>
	  </div>

	  <div class="ddnote-note-comm">
		  <div class="ddnote-note-type">
			  <ul class="notebook">
				 <li>
					 <a class="ddnote-notebook-toggle">笔记本<i class="iconfont">&#xe615;</i></a>
					<ul class="ddnotebook-list notebook-selector">
						<li>
                            <a contentEditable=false id="xx1" onblur={{action 'updateNotebook' 1}}
                             onkeydown="if(event.keyCode === 13) return false;">入门一</a>
                         </li>

						<li><a contentEditable=false>入门二</a></li>
						<li><a contentEditable=false>入门二</a></li>
						<li><a contentEditable=false>入门二入门二</a></li>
						<li><a contentEditable=false>入门二入门二入门二</a></li>
						<li><a contentEditable=false>入门二</a></li>
					</ul>
				  </li>
			   </ul>
		  </div>

		  <div class="ddnote-note">
			  <ul class="notebook">
				 <li>
					 <a class="ddnote-note-toggle">笔记<i class="iconfont">&#xe615;</i></a>
					<ul class="ddnotebook-list note-selector">
						<li><a contentEditable=false>入门一</a></li>

						<li><a contentEditable=false>入门二</a></li>
						<li><a contentEditable=false>入门二</a></li>
						<li><a contentEditable=false>入门二入门二</a></li>
						<li><a contentEditable=false>入门二入门二入门二</a></li>
						<li><a contentEditable=false>入门二</a></li>
					</ul>
				  </li>
			   </ul>
		  </div>
	  </div>

	  <div class="ddnote-navbar-header-tools">
		 <i class="iconfont">&#xe60b;</i>
		  <i class="iconfont">&#xe609;</i>
		  <i class="iconfont">&#xe60d;</i>
		  <i class="iconfont">&#xe608;</i>
          <div class="user-profile">
              <img height="30px" src="http://res.cloudinary.com/ddlisting/image/upload/v1472326656/l6fxryme0t8zavxw3xmp.png" alt="头像" />
            &nbsp;<i class="iconfont" style="margin-left:2px;position: absolute; right: 15px;top: 10px;    font-size: 11px;">&#xe615;</i>
          </div>

          <div class="profile-menu">
              <li><a href="#">帮助</a></li>
              <li><a href="#">退出</a></li>
          </div>
	  </div>
  </div>
</div>



<div class="ddnote-main-container">
  <div class="inner">
      {{! 编辑框右上角星号标记，点击标记为star排序在前面}}
      <div class="ddnote-star" title="点击标记为重要笔记">
          <i class="iconfont">&#xe605;</i>
      </div>

	  <div class="left-input-frame">
		  <div class="form-input" contentEditable=true placeholder="输入笔记（支持markdown）">

		  </div>
	  </div>

	  <!-- <div class="vertical-divide"></div> -->

	  <div class="right-preview-frame">
		  <div class="view-panel">
			欢迎来到 Ember.js 指南！这份文档将会带领你从新手一直成长到 Ember 专家。

			组织

			页面左边是指南的目录，每一个章节解释一个主题内容，每个章节都是有简到难，循序渐进的解释每个知识点。

			本指南主要包括：如何创建一个Ember应用，解释重点、广泛使用的特性。对于每一个Ember.js特征和API详细介绍，请看ember.js API文档。

			本指南解释如何开启Ember之旅，接着一步步带你如何去创建一个新的Ember应用。如果你不是Ember小白，请直接跳过本章节，直接从第二章开始。

			前提条件

			尽管我们努力让这份指南可以对初学者足够友好，但也必须设定一个技术基准以便我们可以把指南的主要内容集中在 Ember.js 自身的特性上。我们会在新的概念出现之时提供相关文档的链接。

			为了更容易理解这份指南，你需要有以下的知识基础：

			HTML, CSS, JavaScript 创建 web 页面的基石。 你可以在Mozilla Developer Network找到这些技术的相关文档。

			Promises 用于在 JavaScript 代码中处理异步编程的原生机制。详细介绍请参考Mozilla Developer Network

			ES2015 modules 如果你熟悉ES6 JavaScript Modules的话就更容易理解Ember CLI的项目结构及模块导入路径。

			ES2015 syntax Ember CLI 默认配备了Babel.js，于是你可以直接享用诸如箭头函数，模版字符串，解构等最新的语言特性。这部分的内容你可以查看Babel.js documentation或阅读在线书籍Understanding ECMAScript 6。

			报告问题

			错别字，内容缺漏，有错误的代码示例都是指南的 bugs，如果你有发现其中之一或是想要改进现有指南的话，我们非常乐意辅助你来帮助我们！

			常见的报告问题方式包括：

			点击每页右上角的铅笔图标
			在the GitHub repository提交issue 或者pull request。
			点击铅笔图标将会带你进入指南在 Github 上的编辑器，于是你可以使用 Markdown 标记语言直接开始编辑。这是用于纠正错别字，补充内容缺漏或修正代码示例中错误的最快捷方式。

			如果你想要提供更明确的贡献，请事先检索我们的issue tracker)以确保不要提交重复的问题。如果没有正在处理中的问题那就可以开一个新的。

			如果你有关于样式的问题，或是关于贡献流程的问题可以参考我们的contributing guide。如果问题得不到解决，请通过Slack group中的#-team-learning频道联络我们。

			欢迎来到 Ember.js 指南！这份文档将会带领你从新手一直成长到 Ember 专家。

			组织

			页面左边是指南的目录，每一个章节解释一个主题内容，每个章节都是有简到难，循序渐进的解释每个知识点。

			本指南主要包括：如何创建一个Ember应用，解释重点、广泛使用的特性。对于每一个Ember.js特征和API详细介绍，请看ember.js API文档。

			本指南解释如何开启Ember之旅，接着一步步带你如何去创建一个新的Ember应用。如果你不是Ember小白，请直接跳过本章节，直接从第二章开始。

			前提条件

			尽管我们努力让这份指南可以对初学者足够友好，但也必须设定一个技术基准以便我们可以把指南的主要内容集中在 Ember.js 自身的特性上。我们会在新的概念出现之时提供相关文档的链接。

			为了更容易理解这份指南，你需要有以下的知识基础：

			HTML, CSS, JavaScript 创建 web 页面的基石。 你可以在Mozilla Developer Network找到这些技术的相关文档。

			Promises 用于在 JavaScript 代码中处理异步编程的原生机制。详细介绍请参考Mozilla Developer Network

			ES2015 modules 如果你熟悉ES6 JavaScript Modules的话就更容易理解Ember CLI的项目结构及模块导入路径。

			ES2015 syntax Ember CLI 默认配备了Babel.js，于是你可以直接享用诸如箭头函数，模版字符串，解构等最新的语言特性。这部分的内容你可以查看Babel.js documentation或阅读在线书籍Understanding ECMAScript 6。

			报告问题

			错别字，内容缺漏，有错误的代码示例都是指南的 bugs，如果你有发现其中之一或是想要改进现有指南的话，我们非常乐意辅助你来帮助我们！

			常见的报告问题方式包括：

			点击每页右上角的铅笔图标
			在the GitHub repository提交issue 或者pull request。
			点击铅笔图标将会带你进入指南在 Github 上的编辑器，于是你可以使用 Markdown 标记语言直接开始编辑。这是用于纠正错别字，补充内容缺漏或修正代码示例中错误的最快捷方式。

			如果你想要提供更明确的贡献，请事先检索我们的issue tracker)以确保不要提交重复的问题。如果没有正在处理中的问题那就可以开一个新的。

			如果你有关于样式的问题，或是关于贡献流程的问题可以参考我们的contributing guide。如果问题得不到解决，请通过Slack group中的#-team-learning频道联络我们。

		</div>
	  </div>
  </div>
</div>

<div class="ddnote-footer">
  <div class="status">
	  模式：插入 | 字数：123 | 创建日期： 2016年09月07日
  </div>
  <div class="about">
	   使用帮助 | 关于我们 | 意见反馈
  </div>
</div>
